<footer>
<div class="footer-icons">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-form padding-lr">
             <form>
                <div class="form-group">
                    <input type="text" name="" class="form-control" placeholder="subscribe for newsletter">
                    <label for="sub-mail" class="footer-label">
                        <span class="form-sub">
                            <span class="glyphicon glyphicon-play"></span>
                        </span>
                    </label>
                    <button type="submit" id="sub-mail"></button>
                </div>
                 
             </form> 
            </div>
            <div class="col-md-6 footer-social-icons pull-right padding-rr">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</div>
<div class="footer-links">
    <div class="container">
        <div class="row">
            <div class="col-md-2 footer-links-head">
                <h3>moviesfyi</h3>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">sitemap</a></li>
                        <li><a href="#">news</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>

            </div>
             <div class="col-md-2 footer-links-head">
                <h3>help</h3>
                    <ul>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">faqs</a></li>
                        <li><a href="#">disclaimer</a></li>
                   
                    </ul>

            </div>
             <div class="col-md-2 footer-links-head">
                <h3>business</h3>
                    <ul>
                        <li><a href="#">terms & conditions</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">advertise with us</a></li>
                        <li><a href="#">investors</a></li>
                       
                    </ul>

            </div>
             <div class="col-md-2 footer-links-head">
                <h3>special</h3>
                    <ul>
                        <li><a href="#">upcoming movies</a></li>
                        <li><a href="#">top rated movies</a></li>
                        <li><a href="#">news</a></li>
                        <li><a href="#">gallery</a></li>
                        
                    </ul>

            </div>
            <div class="col-md-4 guaranty-symbol">
               <h3> best price</h3>
               <h4>guaranteed</h4>
            </div>

        </div>
    </div>
</div>

    <div class="moviesfyi-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 moviesfyi-info-content ">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magni labore fugiat nobis, obcaecati ipsam corporis eligendi ipsa minus amet autem incidunt, omnis, accusamus, maxime ullam impedit at vitae voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam officia maxime accusantium possimus aliquam, dolorem illo fugit, perferendis hic quasi natus assumenda unde dolore quidem ullam cupiditate perspiciatis repudiandae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magni labore fugiat nobis, obcaecati ipsam corporis eligendi ipsa minus amet autem incidunt, omnis, accusamus, maxime ullam impedit at vitae voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam officia maxime accusantium possimus aliquam, dolorem illo fugit, perferendis hic quasi natus assumenda unde dolore quidem ullam cupiditate perspiciatis repudiandae?
                </div>
            </div>
        </div>
    </div>
    <div class="moviesfyi-copyright">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <img src="images/copyimg.png" alt="">
                        <p>All Rights Reserved 
                        <i class="fa fa-copyright" aria-hidden="true"></i> apikdd.com</p>
                    </div>
                </div>
            </div>
    </div>


        
</footer>