<header>
    	<div class="top-header">
    	<div class="container">
        	<div class="row">
                <div class="col-md-3 logo" >
                	<a href="/">
                    	<img src="images/logo.png" />
                    </a>
                </div>
                <div class="col-md-6 search">
                	<div class="input-group">
                    	<div class="input-group-btn search-dropdown">
                        	<button id="dLabel" class="dropdown-toggle btn btn-default"  type="button" data-toggle="dropdown" 			                              aria-haspopup="true" aria-expanded="false">
                            All
                            <span class="caret"></span>
                          </button>

                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="#">lorum</a></li>
                            <li><a href="#">lorum</a></li>
                            <li><a href="#">lorum</a></li>
                            <li><a href="#">lorum</a></li>
                          </ul>
                        </div>
                        <div class="input-group-btn search-bar">
                        	<input type="text" placeholder="Search..." id="search-input" class="form-control" />
                         </div>
                         <div class="input-group-btn search-submit">
                         	<input type="submit" class="search-sub-btn"  />
                          </div>
                    </div>
                </div>
                <div class="col-md-3 usrdetails">
                	<ul class="list-inline">
                    	<li><a href="#"><span class="glyphicon glyphicon-user" ></span> My Account <span class="caret"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-map-marker" ></span> Hyderabad <span class="caret">
                        </span></a></li>
                    </ul>

                </div>
            </div>
        </div>
        </div>

        <div class="main-menu">
        	<div class="container">
            	<nav class="navigation">
                	<ul class="list-inline">
                    	<li><a href="/"> Home </a></li>
                        <li><a href="movies"> Movies </a></li>
                        <li><a href="gallery"> Gallery </a></li>
                        <li><a href="#"> Tickets & Show timings</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
