<div ng-controller="movieCtrl">
	<div class="mv-lang-tab">
        <div class="container">
            <div class="mv-lang-hold">
              <div class="mv-nav clearfix">
                    <ul class="nav nav-tabs pull-left" role="tablist">
                        <li role="presentation" class="active"><div href="#all_movies" aria-controls="all_movies" role="tab" data-toggle="tab">all-movies</div></li>
                        <li role="presentation"><div href="#top-rated" aria-controls="telugu" role="tab" data-toggle="tab">top rated</div
                        ></li>
                        <li role="presentation"><div href="#cmg-this-wk" aria-controls="hindi" role="tab" data-toggle="tab">coming this week</div
                        ></li>
                        <li role="presentation"><div href="#upcmg-mvs" aria-controls="english" role="tab" data-toggle="tab">upcoming movies</div
                        ></li>

                    </ul>
                    <div class=" mv-lang-genre pull-right">
                    	<div class="dropdown">

							  <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="lang">
                              <div class="lang-icon">
                                <i class="fa fa-language" aria-hidden="true"></i>
                            </div>
							    language
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
							  </ul>
			 	        </div>
							<div class="dropdown">
							  <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="genre">
							   <div class="genre-icon">
                                <i class="glyphicon glyphicon-cd"></i>
                            </div>
							    genre
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
							  </ul>
			 	        </div>
                    </div>

                </div>

 <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all_movies">
        <div class="clearfix">
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                            <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>

            </div>
           <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
           <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-now-img">
                <div class="book-img-thumb">
                   <img src="images/img.png"/>
                    <div class="mv-curve">
                        <div class="mv-curve-img">
                            </div>
                        <div class="mv-rate">
                            <span>3.5</span>
                        </div>
                        <div class="mv-name">
                            <span>the assassin</span>
                            <span class="mv-name-rating">A</span>

                        </div>
                        <div class="mv-lang">
                            <span>hindi</span>
                        </div>
                        <div class="mv-det">
                            <div class="mv-genre">
                                 <ul class="list-inline">
                                    <li>sei-fi</li>
                                    <li>drama</li>
                                    <li>action</li>
                                </ul>
                            </div>
                            <div class="mv-act-thumb">
                                <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                                 <span class="mv-artists">
                                    <span class="mv-artist-img">
                                        <img src="images/img1.jpg" alt="">
                                    </span>
                                    <span class="mv-artist-name">magan fox</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="book-nw-btn">
                       book now
                       <span class="glyphicon glyphicon-play play-btn">
                       </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="top-rated">
    <div class="row">
            <div class="col-md-3 book-now-img">

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="cmg-this-wk">
    <div class="row">
            <div class="col-md-3 book-now-img">

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="up-cmg-mvs">
    <div class="row">
            <div class="col-md-3 book-now-img">

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tamil">
    <div class="row">
            <div class="col-md-3 book-now-img">

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="malayalam">
    <div class="row">
            <div class="col-md-3 book-now-img">

            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="load-btn text-center">
      <span> + load more</span>
  </div>


    </div>
</div>
<div class="mv-locations">
	<div class="container">
		<div class="clearfix">
       		<div class="mv-locations-h clearfix">
            	<h2>cinemas in your location</h2>
            	<div class="mvs-nrst-poplr pull-right">
                    <div class="mvs-nrst-poplr-icons">
                        <input class='tgl tgl-light' id='cb2' type='checkbox'>
                        <label class='tgl-btn' for='cb2'></label>
                        <span>nearest</span>
                    </div>
            		<div class="mvs-nrst-poplr-icons">
                        <input class='tgl tgl-light' id='cb1' type='checkbox'>
                        <label class='tgl-btn' for='cb1'></label>
                        <span>popular</span>
                    </div>

        		</div>
        	</div>
        	<div class="mv-locations-b">
				<table class="mv-locations-list">
    				<tr class="mv-name-list">
    					<td class="mv-name-location">
    					   <div class="theatr-name">
                               <h2>pvr cinemas</h2>
                            </div>
                            <div class="location">
						    <h2>hyderabad central, punjagutta</h2>
						    </div>
						    <div class="movie-rating-star bcg-green cmg-pop">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="rate-text">85%</span>
                            </div>

						  </td>
    					<td class="mv-name-actrs">
    					  <div>
                             <h2>babu bangaram</h2>
                           </div>
						   <div>
							 <h2>pawan kalyan</h2>
						    </div>
						</td>
						<td class="mv-name-actrs">
        					<div>
                                <h2>bahubali, the biginning</h2>
                             </div>
                             <div>
								<h2>mahesh babu</h2>
							  </div>

						</td>
						<td class="mv-name-actrs">
        					<div>
                                <h2>king kong</h2>
                             </div>
                             <div>
								<h2>chiranjeevi konidela</h2>
							  </div>

						</td>
						<td class="mv-name-actrs">
        					<div>
                              <h2>kabali</h2>
                            </div>
							<div>
							    <h2>krishnamraju uppalapati</h2>
							</div>
						</td>
						<td class="mv-shwtime">
			           		<button>
								<span class="glyphicon glyphicon-time"></span>
						        <span>show timings</span>
						       <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
						</td>

    				</tr>
                    <tr class="mv-name-toggle">
                        <td>
                            <div class="mv-name-time">
                            <table class="mv-timing-list">
                                    <tr class="mv-image-time">
                                       <td class="mv-image">
                                        <img src="images/smalass.png">
                                        </td>
                                      <td class="mv-title-lang">
                                        <div class="">
                                            <h2>bahubali, the biginning</h2>
                                        </div>
                                        <div class="mv-rating-langs">
                                            <span class="mv-langs">telugu</span>
                                        </div>
                                            <div class="movie-rating-star bcg-yellow cmg-pop">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="rate-text">3.5</span>
                                                <span class="rate-text1">/5</span>
                                            </div>

                                        </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>11.15pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>2.10pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>9.30pm</h2>
                                            </div>

                                         </td>
                                     </tr>
                                   <tr class="mv-image-time">
                                       <td class="mv-image">
                                        <img src="images/smalass.png">
                                        </td>
                                         <td class="mv-title-lang">
                                        <div class="">
                                            <h2>bahubali, the biginning</h2>
                                        </div>
                                        <div class="mv-rating-langs">
                                            <span class="mv-langs">telugu</span>
                                        </div>
                                            <div class="movie-rating-star bcg-yellow cmg-pop">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="rate-text">3.5</span>
                                                <span class="rate-text1">/5</span>
                                            </div>

                                        </td>
                                    <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>11.15pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>2.10pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>9.30pm</h2>
                                            </div>

                                         </td>
                                     </tr>
                            </table>
                        </div>
                        </td>
                    </tr>
                    <tr class="mv-name-list">
                        <td class="mv-name-location">
                           <div class="theatr-name">
                               <h2>pvr cinemas</h2>
                            </div>
                            <div class="location">
                            <h2>hyderabad central, punjagutta</h2>
                            </div>
                            <div class="movie-rating-star bcg-green cmg-pop">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="rate-text">85%</span>
                            </div>

                          </td>
                        <td class="mv-name-actrs">
                          <div>
                             <h2>babu bangaram</h2>
                           </div>
                           <div>
                             <h2>pawan kalyan</h2>
                            </div>
                        </td>
                        <td class="mv-name-actrs">
                            <div>
                                <h2>bahubali, the biginning</h2>
                             </div>
                             <div>
                                <h2>mahesh babu</h2>
                              </div>

                        </td>
                        <td class="mv-name-actrs">
                            <div>
                                <h2>king kong</h2>
                             </div>
                             <div>
                                <h2>chiranjeevi konidela</h2>
                              </div>

                        </td>
                        <td class="mv-name-actrs">
                            <div>
                              <h2>kabali</h2>
                            </div>
                            <div>
                                <h2>krishnamraju uppalapati</h2>
                            </div>
                        </td>
                        <td class="mv-shwtime">
                            <button>
                                <span class="glyphicon glyphicon-time"></span>
                                show timings
                               <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                        </td>
                    </tr>
                    <tr class="mv-name-toggle">
                        <td>
                            <div class="mv-name-time">
                            <table class="mv-timing-list">
                                    <tr class="mv-image-time">
                                       <td class="mv-image">
                                        <img src="images/smalass.png">
                                        </td>
                                      <td class="mv-title-lang">
                                        <div class="">
                                            <h2>bahubali, the biginning</h2>
                                        </div>
                                        <div class="mv-rating-langs">
                                            <span class="mv-langs">telugu</span>
                                        </div>
                                            <div class="movie-rating-star bcg-yellow cmg-pop">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="rate-text">3.5</span>
                                                <span class="rate-text1">/5</span>
                                            </div>

                                        </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>11.15pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>2.10pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>9.30pm</h2>
                                            </div>

                                         </td>
                                     </tr>
                                   <tr class="mv-image-time">
                                       <td class="mv-image">
                                        <img src="images/smalass.png">
                                        </td>
                                         <td class="mv-title-lang">
                                        <div class="">
                                            <h2>bahubali, the biginning</h2>
                                        </div>
                                        <div class="mv-rating-langs">
                                            <span class="mv-langs">telugu</span>
                                        </div>
                                            <div class="movie-rating-star bcg-yellow cmg-pop">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="rate-text">3.5</span>
                                                <span class="rate-text1">/5</span>
                                            </div>

                                        </td>
                                    <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>8.10am</h2>
                                            </div>
                                            <div>
                                            <h2>9.10am</h2>
                                            </div>
                                         </td>
                                        <td class="mv-time">
                                          <div>
                                            <h2>11.15pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>2.10pm</h2>
                                            </div>

                                         </td>
                                         <td class="mv-time">
                                          <div>
                                            <h2>9.30pm</h2>
                                            </div>

                                         </td>
                                     </tr>
                            </table>
                        </div>
                        </td>
                    </tr>
			     </table>


        			</div>
        		</div>
        	</div>
        	 <div class="load-btn text-center">
      <span>+load more</span>
  </div>
        </div>
</div>
