<div class="rating-details hidden" id="popup-content">
      <div class="rating-details-header text-left">
      <h2>Rating Details</h2>
      </div>
      <div class="rating-details-b">
       <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/bookmyshow.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/justtickets.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/ticketdada.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/cinemax.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/ticketdada.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/cinemax.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/ticketdada.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
      </div>
      <div class="popup-rating-items clearfix">
          <div class="rating-image pull-left">
              <img src="images/cinemax.png">
          </div>
          <div class="rating-image-star pull-left">
             <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="popup-rating pull-left text-right">
              <span>3.5/5</span>
          </div>
          <a href="#" class="rating-details-websites"> and 12 more websites >
          </a>
          <div class="movie-details-footer">
               <div class="popup-rating-items clearfix">
                        <div class="rating-image pull-left">
                              <img src="images/moviesfyi.png">
                          </div>
                       <div class="our-rating-image-star pull-left">
                         <span class="our-rating-full"></span>
                          <span class="our-rating-full"></span>
                          <span class="our-rating-full"></span>
                          <span class="our-rating-empty"></span>
                          <span class="our-rating-empty"></span>
                      </div>
                      <div class="popup-rating pull-left text-right">
                          <span>3.5/5</span>
                    </div>
                    <span class="popup-rating-text pull-right">(overall rating)</span>
              </div>
          </div>
      </div>
      </div>
  </div>
